<div class="m-2">
  <div class="d-flex justify-content-start">
    <span><i class="bi bi-geo-alt-fill p-4">Basé à Douala, Cameroun</i></span>
  </div>
  <div class="d-flex justify-content-end">
    <span><i class="bi bi-plus-circle-fill"></i>Disponible</span>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
    <div class="container">
      <a class="navbar-brand img-fluid img-thumbnail rounded mx-auto d-block" href="#"
        ><img src="../assets/pictures/me.jpg" alt="serges YAMAKO" width="200" height="200"
      /></a>
    </div>
  </nav>
  <div class="text-center">
    <p>Créateur des sites web & Conseille Digital, à votre service</p>
  </div>
</div>
<hr>

<app-formulaire></app-formulaire>

<router-outlet></router-outlet>
