<section class="container">
  <div>
    <div class="text-uppercase text-center">
      <h3>
        Questionnaire de collecte d'information pour la creation de votre site
        web
      </h3>
    </div>
    <p class="text-center">
      Ces informations sont essentielles pour comprendre les besoins et les
      attentes du client en matiere de site web. elles me permettent de proposer
    </p>
  </div>
  <hr />

  <!--informations sur l'entreprise-->
  <div class="form-control">
    <div class="mb-3">
      <label
        class="form-label text-uppercase text-decoration-underline"
        name="entreprise"
        >informations sur l'entreprise</label
      >
      <textarea
        class="form-control"
        rows="3"
        placeholder="Description de l'entreprise..."
      ></textarea>
    </div>
    <div class="mb-3">
      <label
        class="form-label text-uppercase text-decoration-underline"
        name="objectif"
        >objectifs du site
      </label>
      <textarea
        class="form-control"
        rows="3"
        placeholder="Quels sont vos objectifs pour le site web ? (ventes en ligne presentation de l'entreprise, Etc...)"
      ></textarea>
    </div>
    <input
      class="form-control"
      type="text"
      placeholder="Quel est le public cible du site web ?"
      aria-label="default input example"
    />
    <div class="mb-3 py-4">
      <textarea
        class="form-control"
        rows="3"
        placeholder="quel est le message que vous souhaitez transmettre votre public cible"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Contenu du site web</label
      >
      <input
        type="email"
        class="form-control"
        placeholder="Combien de page vous souhaitez-vous pour votre site web ?"
      />
    </div>

    <h5>Avez-vous déjà rédigé les textes pour votre site web</h5>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="option1" />
      <label class="form-check-label">OUI</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="option2" />
      <label class="form-check-label">NON</label>
    </div>

    <h6>Avez-vous des images à inclure sur le site web ?</h6>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
        value="option1"
      />
      <label class="form-check-label">OUI</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="option2" />
      <label class="form-check-label" for="inlineCheckbox2">NON</label>
    </div>
  </div>
  <!--fonctionnalites du site web-->

  <div class="form-control mt-4">
    <h5 class="text-decoration-underline text-uppercase py-4">
      fonctionnalites du site web
    </h5>

    <h6>Souhaitez-vous une section de blog?</h6>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="option1" />
      <label class="form-check-label">OUI</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="option2" />
      <label class="form-check-label">NON</label>
    </div>

    <h6>souhaitez-vous un formulaire de contact ?</h6>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
        value="option1"
      />
      <label class="form-check-label">OUI</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="option2" />
      <label class="form-check-label" for="inlineCheckbox2">NON</label>
    </div>

    <h6>souhaitez-vous une fonctionnalité de chat en direct?</h6>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
        value="option1"
      />
      <label class="form-check-label">OUI</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="option2" />
      <label class="form-check-label" for="inlineCheckbox2">NON</label>
    </div>
  </div>

  <!--design et developpement-->
  <div class="form-control mt-4">
    <h5 class="text-decoration-underline text-uppercase py-4">
      design et developpement
    </h5>
    <textarea
      class="form-control"
      rows="3"
      placeholder="Listez des exemples de sites web qui ressemblent à ce que vous voulez."
    ></textarea>
    <div class="py-4">
      <h6>Avez-vous déjà une charte graphique existante ?</h6>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        />
        <label class="form-check-label">OUI</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">NON</label>
      </div>
    </div>
    <input
      class="form-control"
      type="text"
      placeholder="Quels sont les delais pour la creation du site web"
      aria-label="default input example"
    />
  </div>

  <!-- hebergement et maintenance -->

  <div class="form-control mt-4">
    <h5 class="text-decoration-underline text-uppercase py-4">
      hebergement et maintenance
    </h5>
    <div class="py-4">
      <h6>Avez vous déja un nom de domaine et un hebergement web ?</h6>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        />
        <label class="form-check-label">OUI</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">NON</label>
      </div>
      <p>si Oui entrer l'adresse du site web</p>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Adresse du site existant"
        aria-label=".form-control-sm example"
      />
      <h6 class="py-4">
        souhaitez-vous que je gére l'hebrgement et la maintenance du site web ?
      </h6>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        />
        <label class="form-check-label">OUI</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">NON</label>
      </div>
    </div>
  </div>

  <!-- informations personnelles -->

  <div class="perso form-control mt-4">
    <h5 class="text-decoration-underline text-uppercase">
      informations personnelles
    </h5>
    <div class="perso">
      <input
        class="form-control"
        type="text"
        placeholder="Votre Nom"
        aria-label="default input example"
      />
      <input
        class="form-control"
        type="text"
        placeholder="Votre adresse Email"
        aria-label="default input example"
      />
      <input
        class="form-control"
        type="text"
        placeholder="votre numero de telephone"
        aria-label="default input example"
      />
    </div>
  </div>

  <h5 class="text-uppercase text-center mt-4">Connectons-nous pour créer quelque chose de special !</h5>

  <h6 class="mt-4 text-center text-danger-emphasis">serges YAMAKO</h6>
</section>
